#foto1{
    height: 16%;
    width: 16%;
    padding-left: 2%;
    padding-right: 3%;
}
#foto2{
    height: 15%;
    width: 15%;
}

.Encabezado{
    padding-left: 9%;
}
textarea{
    margin-top: 1%;
    margin-left: 9%;
}

#enviar{
    height: 10%;
    width: 5%;
    position: relative;
    left: 1%;
    bottom: 80px;
}

#generador{
    position: relative;
    left: 46.46%;
    top: 460px;
}

input[type=text],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

*{
    font-family: sans-serif;
    font-size: medium;
}
